<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Country Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="app">
  <nav class="navbar navbar-expand-lg fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Country<span>Pedia</span></a>
    </div>
  </nav>
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7">
            <div class="search-wrapper">
                    <input class="form-control" type="text" v-model="search" placeholder="Search country.."/>
            </div>
        </div>
      </div>
    </div>
  </header>
  <section id="search-result">
    <div class="row justify-content-center">
        <div class="card" v-for="post in filteredList" style="width: 18rem; margin: 15px;">
          <div class="flag-wrapper">
              <img v-bind:src="post.flag" class="card-img-top">
          </div>  
            <div class="card-body">
              <h5 class="card-title">{{ post.country }}</h5>
              <small>{{ post.continent }}</small>
              <p class="card-text">{{ post.description }}</p>
              <p><span class="font-weight-bold">President/PM:</span> {{ post.president }}</p>
              <p><span class="font-weight-bold">Capital:</span> {{ post.capital }}</p>
              <p><span class="font-weight-bold">Dialing Code:</span> {{ post.dialcode }}</p>
            </div>
        </div>
    </div>
  </section>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.9/vue.min.js'></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script  src="js/index.js"></script>
</body>
</html>
